.view-campaign {
   .view-campaign--header {
      padding: 12px 50px 12px 50px;
      background-color: #fff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }

   .view-campaign--content {
      padding: 20px 50px 20px 50px;
   }
}
