.forgot-password-form {
   width: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   flex-direction: column;
   margin-top: 20px;

   .forgot-form--title {
      margin-bottom: 15px;
   }

   .forgot-form--input {
      width: 100%;
   }

   .forgot-form--submit {
      margin-top: 15px;
   }
}
