.hr-search {
   .collapse-hide {
      display: none;
   }
   .ant-form-item-label {
      label {
         width: 65px;
         text-align: right;
      }
   }
   .ant-picker-range {
      width: 100%;
   }
}
