.apply__form--wrapper {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rbga(0, 0, 0, 0.5);
   position: fixed;
   z-index: 9999;
   top: 0;
   left: 0;
   .form__wrapper {
      width: 100%;
      max-width: 740px;
      background-color: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 30px 20px;
   }
}
